        <section class="section">
          <div class="container section__header">
            <div class="section__name">Услуги для судов</div>
            <div class="section__title">ОБСЛУЖИВАНИЕ И РЕМОНТ</div>
          </div> 
          <div class="container">
            <div class="row">
              <div class="col-md-6 hidden-xs hidden-sm">
                <div class="s-service-slider img-shadow"><img src="/uploads/service1.jpg"><img src="/uploads/service2.jpg"><img src="/uploads/service3.jpg"><img src="/uploads/service4.jpg">
                </div>
                <div class="s-service-description">
                  <p>
                    ОАО "Пассажирский порт" оказывает широкий 
                    спектр услуг пассажирским и гузовым судам, 
                    включая прием и обслуживание, отстой и 
                    ремонтно-профилактическое обслуживание.  
                  </p><a class="more-link" href="#">Подробнее<i class="fa fa-long-arrow-right"></i></a>
                </div>
              </div>
              <div class="col-md-6">    
                  <div class="s-service-item" data-slide="1">
                    <div class="s-service-item__img"><img src="/uploads/icon-sservice1.png"></div>
                    <div class="s-service-item__description">
                      <div class="s-service-item__title">Прием и обслуживание грузов</div>
                      <div class="s-service-item__content">
                        Предоставление услуг швартовки, снабжения электричеством 
                        и связью, бункеровка, прием отхдов и хозяйственно-бытовых 
                        стоков.
                      </div>
                    </div>
                  </div>
                  <div class="s-service-item" data-slide="2">
                    <div class="s-service-item__img"><img src="/uploads/icon-sservice2.png"></div>
                    <div class="s-service-item__description">
                      <div class="s-service-item__title">Стоянка грузового флота</div>
                      <div class="s-service-item__content">
                        Стоянка грузовых судов с предоставлением необходимой 
                        инфраструктуры и хозяйственным обслуживанием 
                        (бункеровка, прием отходов и стоков).
                      </div>
                    </div>
                  </div>
                  <div class="s-service-item" data-slide="3">
                    <div class="s-service-item__img"><img src="/uploads/icon-sservice3.png"></div>
                    <div class="s-service-item__description">
                      <div class="s-service-item__title">Летний/зимний отстой судов</div>
                      <div class="s-service-item__content">
                        ОАО "Пассажирский порт" осуществляет круглосуточное 
                        наблюдение за состоянием судов во время летнего или 
                        замнего отстоя судов.
                      </div>
                    </div>
                  </div>
                  <div class="s-service-item" data-slide="4">
                    <div class="s-service-item__img"><img src="/uploads/icon-sservice4.png"></div>
                    <div class="s-service-item__description">
                      <div class="s-service-item__title">Ремонт и профилактика судов</div>
                      <div class="s-service-item__content">
                        На базе судостроительной верфи "Речная" проводится 
                        дефектация и ремонт корпусов, движительно-рулевого 
                        комплекса, двигателей и судовых систем, 
                        электрооборудования, средств связи
                      </div>
                    </div>
                  </div>
              </div>
            </div>
          </div>
        </section>